@model FinalProject_ITC172.Models.Donation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Donation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DonationKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DonationKey)
            @Html.ValidationMessageFor(model => model.DonationKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DonationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DonationDate)
            @Html.ValidationMessageFor(model => model.DonationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DonationAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DonationAmount)
            @Html.ValidationMessageFor(model => model.DonationAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonKey, "Person")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonKey", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeKey, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployeeKey", String.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DonationConfirmDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DonationConfirmDate)
            @Html.ValidationMessageFor(model => model.DonationConfirmDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
