@model IEnumerable<FinalProject_ITC172.Models.Donation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonationKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.PersonLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeSSNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationConfirmDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonationKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.PersonLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeSSNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationConfirmDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
